@model KriuClient.WordDefinition

@{
    ViewBag.Title = "Kriu";
}

<div class="word-definition">
    <h1>@Html.Raw(@Model.Name)</h1>
    <p>@Html.Raw(@Model.Translation)</p>
    <blockquote>
        @Html.Raw(@Model.Definition)
    </blockquote>
</div>
